<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HillerService.Credentials" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <HillerService.Credentials>
    <!--<add key="ServiceTradeURI" value="https://api.servicetrade.com/api/" />-->
    <add key="ServiceTradeURI" value="https://sandbox.servicetrade.com/api/" />
    <add key="UserName" value="jdeintegration" />
    <add key="Password" value="icshiller" />
  </HillerService.Credentials>
  <connectionStrings>
    <add name="SQL" connectionString="Data Source=SOMEIP;Initial Catalog=SOMEDB;User ID=SOMEUSER;Password=SOMEPASSWORD" />
    <add name="AS400" connectionString="Data Source=192.168.50.5;Default Collection=CRPDTA;User ID=hiller;Password=hiller5" />
    <!--<add name="AS400" connectionString="Data Source=192.168.50.5;Default Collection=CRPDTA;User ID=JSALAZAR;Password=js633570" />-->
	<!--<add name="AS400" connectionString="Data Source=192.168.1.1;Default Collection=hildatajnk;User ID=RGREEN;Password=mahakala" />-->
    <!--<add name="AS400" connectionString="Data Source=192.168.1.1;Default Collection=hildata;User ID=RGREEN;Password=mahakala" />-->
    
  </connectionStrings>  
</configuration>